.project__Card {
  background: skyblue;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}
.live__button,
.github__button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to left, rgb(253, 61, 61), rgb(253, 253, 108));
  margin-right: 20px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
}
.github__button {
  margin-right: 0;
  background: linear-gradient(to left, rgb(253, 113, 113), rgb(226, 223, 223));
}

@media screen and (max-width: 600px) {
  .project__Card {
    margin: 20px;
  }
}
