.header,
.footer {
  width: 100%;
  border-radius: 0 0 0 20px;
  background: linear-gradient(to left, #4568dc, #b06ab3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header {
  height: 15vh;
}

.header__logo,
.footer__logo {
  margin: 0 0 0 2em;
}

h2 {
  margin: 0;
}

.header__link {
  text-decoration: none;
}
.header__list,
.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  width: 20vw;
  margin-right: 2em;
  height: 100%;
  margin-bottom: 10px;
}
.footer__list {
  margin-top: 20px;
}
.header__li {
  padding-bottom: 10px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .header,
  .footer {
    flex-direction: column;
    border-radius: 0 0 20px 20px;
  }
  .header__logo,
  .footer__logo {
    font-size: 30px;
    margin: 10px 0 0 0;
  }
  .header__list,
  .footer__list {
    margin-right: 0;
    width: 50vw;
    margin-bottom: 0;
  }
  .footer__list {
    margin-top: 20px;
  }
}
